<configuration debug="true">

    <appender name="CORRELATION_ID"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %cyan([CID: %X{correlationId:-default} from %X{correlationIdSource:-System}])  %n
            </pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="${package}">
        <appender-ref ref="CORRELATION_ID"/>
    </logger>

</configuration>